:root {
    --orange: #f26422;
    --bright-blue: #0e9af2;
    --navy-blue: #003470;
    --dark-grey: #363636;
    --pastel-blue: #cddae2;
    --slate-blue: #b4c2cd;
}

body {
    margin: 0;
    padding: 0;
}

.hero-container {
    display: flex;
    width: 100%;
}